<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="If-edge">
        <title>CHATBOT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width-device-width,initial-scale=1">
        <link rel="stylesheet"href="">
    </head>
    <body>
        <h1> chatty chatter</h1>
        <p> this is simple chatbot </p>
        <h2> {{ resp }} </h2>
        <form>
            <label> enter your query: </label>
            <input type="text"name='q'>
            <input type="submit"value="ask">
        </form>

        <script src=""async defer></script>
    </body>
    </html>
